.download-resume {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 12px;
}

.download-resume h3 {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
