.dropdown {
  background-color: white;
  border: none;
  border-radius: 12px;
}

button.open-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 12px;
}

button.open-dropdown h2 {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.dropdown-content {
  display: none;
  overflow: hidden;
}

.dropdown-content.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100vh;
  }
}

.chevron {
  transition: transform 0.2s ease-out;
  transform: rotate(180deg);
}

.chevron.rotate {
  transform: rotate(0);
}

button.create-form,
button.delete,
button.save {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: white;
  border-radius: 20px;
  border: 5px solid #f3f4f6;
}

button h4 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.form-container {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.form-container div:last-child .form-button {
  border-bottom: 5px solid #f3f4f6;
}

.form-button {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: 5px solid #f3f4f6;
  border-bottom: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
