form {
  padding: 18px;
  border-radius: 12px;
}

.personal-form {
  padding: 18px;
  background-color: white;
  border-radius: 12px;
}

.education-form {
  padding: 18px;
  background-color: white;
  border-radius: 12px;
}
